.login-form{
    height: 350px;
}

.textbox-rounded {
    border-radius: 25px;
    height: 50px;
    color:#1A347F;
    border-color:#1A347F ;
    
    background-color: transparent;
    
}

.textbox-rounded::placeholder {
    color:#1A347F;
}

form{
    width: 360px;
    margin: auto;
    color:#1A347F;
    font-size: 14px;
}

button{
    background-color: #1A347F;
    border-radius: 25px;
    width: 140px;
    height: 50px;
}
button:hover, button:disabled{
    background-color: #1A347F;
}